<%- include("partials/header.ejs") %>

<div height="100%">
    <embed class="pdf-container" src="PDFs/NSW_School_Calendar_2024.pdf" type="application/pdf">
</div>

<%- include("partials/footer.ejs") %>