<%- include("partials/header.ejs") %>
<div class="container-fluid text-center d-flex justify-content-center align-items-center mt-5">
<!-- <div class="container"> -->
  <div class="row">
    <!-- <div class="col col-lg-6"> -->
    <div class="col-lg-6 d-flex justify-content-center align-items-center px-4 py-4">
      <a class="no-underline" href="/literacyHome">
      <div class="card" style="width: 24rem;">
        <h3 class = py-3>Literacy</h3>
        <svg fill="#000000" height="150px"  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.999 511.999" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M359.132,210.769l-44.452-35.976c-2.966-2.401-7.321-1.943-9.723,1.025c-2.402,2.968-1.943,7.321,1.025,9.723 l35.298,28.568l-61.171-9.216c-2.555-0.385-4.939,1.375-5.324,3.93l-4.417,29.317c17.16-3.914,35.806,2.165,47.168,17.079 c15.501,20.346,11.578,49.411-8.772,64.917l-11.699,8.913l42.012,6.33c2.555,0.385,4.939-1.375,5.324-3.93l17.218-114.276 l-0.006-0.001C361.963,214.828,361.107,212.366,359.132,210.769z"></path> </g> </g> <g> <g> <circle cx="130.132" cy="181.525" r="60.222"></circle> </g> </g> <g> <g> <path d="M470.454,482.615c1.402-2.438,2.502-5.1,3.192-7.973c3.875-16.147-6.072-32.379-22.219-36.254l-163.718-39.294 c-3.969-0.952-8.09-1.087-12.111-0.396l-79.85,13.727l-4.727-31.098l-76.689-48.154c18.606,5.5,71.429,21.118,89.972,26.601 c7.451,2.302,15.876,1.106,22.576-3.984c0.009-0.007,0.018-0.013,0.026-0.02l68.968-52.549 c11.008-8.388,13.131-24.109,4.745-35.115c-8.387-11.008-24.108-13.131-35.115-4.745l-58.862,44.849 c-15.272-4.515-85.079-25.155-92.486-27.344l61.267,3.37c-2.832-7.758-7.914-14.573-14.687-19.513 c-9.04-6.595-20.341-9.305-31.39-7.529l-38.108,6.128c-11.058,1.778-20.946,7.903-27.462,17.012 c-1.385,1.935-2.581,3.975-3.608,6.088V14.932C60.17,6.686,53.485,0,45.238,0S30.306,6.686,30.306,14.932v482.135 c0,8.246,6.685,14.932,14.932,14.932h421.523c8.246,0,14.932-6.686,14.932-14.932 C481.693,490.098,476.911,484.261,470.454,482.615z M60.17,482.135V333.032L80.525,452.09 c2.133,12.471,9.883,23.762,21.817,30.045H60.17z M153.089,482.135l126.599-23.125l96.348,23.125H153.089z"></path> </g> </g> </g></svg>
        <div class="card-body">
          <p class="card-text">
            Meet your ABC friends.
          </p>
            <button type="button" class="btn btn-success">Go</button>
        </div>
      </div>
      </a>
    </div>

    
    <div class="col-lg-6 d-flex justify-content-center align-items-center px-4 py-4">
      <a class="no-underline" href="/numeracyHome">
        <div class="card" style="width: 24rem;">
          <h3 class = py-3>Numeracy</h3>
          <svg fill="#000000" height="150px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 410.001 410" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M371.861,25.211H38.144C17.11,25.211,0,42.32,0,63.351v283.3c0,21.028,17.11,38.139,38.144,38.139h333.718 c21.027,0,38.139-17.109,38.139-38.139v-283.3C410,42.32,392.891,25.211,371.861,25.211z M371.861,346.649H171.849 c-3.835-10.686-14.064-18.35-26.053-18.35h-63.06c-11.988,0-22.218,7.665-26.054,18.352H38.14l0.004-283.3l333.717-0.001 l0.021,283.297C371.883,346.649,371.877,346.649,371.861,346.649z"></path> <path d="M128.299,242.244c-0.488-4.445-4.488-7.651-8.936-7.16l-20.377,2.249l9.754-13.615 c7.154-9.34,10.784-18.971,9.959-26.446c-1.478-13.404-12.681-21.286-27.877-19.61c-8.668,0.956-17.186,5.862-22.796,13.122 c-2.696,3.494-2.101,8.508,1.347,11.269l1.368,1.099c1.698,1.359,3.863,1.986,6.028,1.721c2.162-0.262,4.127-1.377,5.455-3.099 c2.596-3.375,6.747-5.829,10.568-6.251c7.549-0.832,7.914,2.477,8.052,3.721c0.196,1.788-1.368,7.066-6.399,13.622 c-0.052,0.065-0.105,0.137-0.155,0.207l-20.878,29.062c-1.167,1.626-1.695,3.625-1.476,5.615l0.271,2.466 c0.491,4.445,4.494,7.651,8.941,7.161l40.185-4.434c4.448-0.49,7.653-4.491,7.162-8.938L128.299,242.244z"></path> <path d="M179.96,208.891c-0.489-4.443-4.493-7.65-8.935-7.161l-8.699,0.96l-0.959-8.697c-0.491-4.445-4.489-7.65-8.937-7.16 l-1.761,0.195c-4.446,0.49-7.651,4.49-7.16,8.935l0.96,8.697l-8.698,0.959c-4.446,0.49-7.651,4.493-7.162,8.938l0.195,1.763 c0.49,4.444,4.49,7.651,8.938,7.161l8.698-0.959l0.958,8.694c0.49,4.447,4.49,7.651,8.937,7.161l1.759-0.195 c4.449-0.49,7.652-4.487,7.161-8.936l-0.96-8.695l8.7-0.96c4.442-0.489,7.65-4.491,7.161-8.936L179.96,208.891z"></path> <path d="M240.715,229.842c-0.49-4.445-4.486-7.649-8.934-7.16l-20.379,2.25l9.758-13.617c7.154-9.338,10.783-18.971,9.96-26.443 c-1.479-13.405-12.686-21.286-27.882-19.61c-8.662,0.956-17.186,5.862-22.795,13.122c-2.698,3.495-2.1,8.506,1.346,11.266 l1.371,1.1c1.695,1.361,3.842,2.003,6.025,1.723c2.162-0.261,4.127-1.377,5.454-3.099c2.599-3.376,6.746-5.829,10.568-6.251 c7.55-0.833,7.914,2.476,8.052,3.72c0.197,1.788-1.364,7.067-6.396,13.622c-0.054,0.066-0.104,0.138-0.155,0.207l-20.877,29.063 c-1.168,1.627-1.692,3.625-1.473,5.614l0.272,2.465c0.49,4.445,4.486,7.652,8.935,7.162l40.188-4.434 c4.446-0.491,7.647-4.492,7.157-8.938L240.715,229.842z"></path> <path d="M293.795,209.326c-0.49-4.442-4.496-7.651-8.938-7.161l-35.254,3.889c-4.445,0.49-7.65,4.494-7.16,8.938l0.192,1.763 c0.49,4.447,4.491,7.651,8.938,7.161l35.254-3.891c4.439-0.488,7.649-4.488,7.161-8.937L293.795,209.326z"></path> <path d="M248.742,198.241l35.253-3.889c4.44-0.49,7.652-4.491,7.163-8.937l-0.196-1.764c-0.49-4.445-4.495-7.65-8.937-7.16 l-35.255,3.889c-4.445,0.49-7.65,4.49-7.159,8.936l0.192,1.763C240.295,195.525,244.295,198.731,248.742,198.241z"></path> <path d="M324.082,212.713c-5.703,0.629-9.832,5.779-9.201,11.479c0.629,5.702,5.779,9.829,11.482,9.198 c5.703-0.629,9.83-5.776,9.201-11.479C334.936,216.21,329.783,212.084,324.082,212.713z"></path> <path d="M317.823,152.773c-13.271,1.464-21.574,10.345-21.146,22.628c0.151,4.389,3.777,7.858,8.173,7.813l1.784-0.018 c2.189-0.026,4.271-0.93,5.776-2.509c1.512-1.586,2.312-3.71,2.232-5.895c-0.062-1.592-0.14-3.576,5.063-4.15 c5.52-0.608,5.746,1.442,5.896,2.801c0.383,3.471-0.572,4.774-3.653,8.383c-3.548,4.144-8.9,10.41-7.658,21.676 c0.489,4.447,4.491,7.65,8.938,7.161l1.76-0.194c4.446-0.49,7.65-4.49,7.161-8.937c-0.391-3.534,0.573-4.852,3.685-8.478 c3.53-4.12,8.872-10.344,7.645-21.494C342.071,158.786,331.761,151.236,317.823,152.773z"></path> </g> </g> </g> </g></svg>
          <div class="card-body">
            <p class="card-text">
              Meet your 123 friends.
            </p>
            <button type="button" class="btn btn-success">Go</button>
          </div>
        </div>
      </a>
    </div>
    
  </div>
</div>

<%- include("partials/footer.ejs") %>