<%- include("../partials/header.ejs") %>

<div class="container">
    <h1>multiplyTestTouchpad.ejs</h1>
    <h1>7 × 8</h1>
    <p>Enter the answer directly by your keyboard, it will enter next question if you answer it correctly</p>
</div>


<%- include("../partials/footer.ejs") %>